---
import { SITE_TITLE, SITE_DESCRIPTION, SUBDIR_ADAPTIVE_URL } from '../../consts';

import BasicInfo from './components/BasicInfo.astro';
import Profiles from './components/Profiles.astro';
import Works from './components/Works.astro';
import Educations from './components/Educations.astro';
import Awards from './components/Awards.astro';
import Communities from './components/Communities.astro';
import Contacts from './components/Contacts.astro';

---

<div id="cv">
    <BasicInfo />
    <Profiles />
    <Works />
    <Educations />
    <Awards />
    <Communities />
    <Contacts />
</div>
<style>
 #cv {
     padding-top: 1em;
     margin: auto;
     width: 90%;
 }

</style>
