---
import { SITE_TITLE, SITE_DESCRIPTION, SUBDIR_ADAPTIVE_URL } from '../../consts';
import BackToTop from './BackToTop.astro';
---

<div id="awards" class="cv_item">
    <h4 class="title_decoration">受賞歴</h4>
    <div id="award_history_table">
        <ul class="award_history">
            <!-- 上から新しい順 -->
            <li class="award_item">
                <span class="award_year">2024-12</span>
                <span class="award_title">
                    <a href="">全国ワークスタイル変革大賞2024 全国大会 ITコーディネータ協会 会長賞</a>
                    <span class="award_members">
                        <span class="award_myname">油谷知岐</span>, 小寺賢志
                    </span>
                </span>
            </li>
            <li class="award_item">
                <span class="award_year">2024-10</span>
                <span class="award_title">
                    <a href="https://prtimes.jp/main/html/rd/p/000000086.000115435.html">全国ワークスタイル変革大賞2024 中国・四国大会 優秀賞, 審査員特別賞</a>
                    <span class="award_members">
                        <span class="award_myname">油谷知岐</span>, 小寺賢志
                    </span>
                </span>
            </li>
            <li class="award_item">
                <span class="award_year">2024-09</span>
                <span class="award_title">
                    2024年度 中国・四国工学教育協会賞
                    <span class="award_members">
                        米谷雄介, 浅木森浩樹, 山田哲, 神田亮, <span class="award_myname">油谷知岐</span>, 佛圓哲朗, 國枝孝之, 八重樫理人
                    </span>
                </span>
            </li>
            <li class="award_item">
                <span class="award_year">2024-07</span>
                <span class="award_title">
                    <a href="https://www.learntechlib.org/awards/EDMEDIA/2024/">EdMedia2024 Outstanding Paper Award</a>
                    <span class="award_members">
                        <span class="award_myname">油谷知岐</span>, 瀬田和久, 林佑樹
                    </span>
                </span>
            </li>
            <li class="award_item">
                <span class="award_year">2024-03</span>
                <span class="award_title">
                    <a href="https://www.ai-gakkai.or.jp/about/award/jsai_award-sig/">2023年度 人工知能学会 研究会優秀賞</a>
                    <span class="award_members">
                        <span class="award_myname">油谷知岐</span>, 瀬田和久, 林佑樹
                    </span>
                </span>
            </li>
            <li class="award_item">
                <span class="award_year">2020-12</span>
                <span class="award_title">
                    大阪府立大学 学長顕彰
                    <span class="award_members">
                        <span class="award_myname">油谷知岐</span>
                    </span>
                </span>
            </li>
            <li class="award_item">
                <span class="award_year">2019-07</span>
                <span class="award_title">
                    <a href="https://sig-alst.jp/sig-alst/?page_id=616">
                        2019年度 人工知能学会 先進的学習科学と工学（ALST）研究会 若手奨励賞
                    </a>
                    <span class="award_members">
                        <span class="award_myname">油谷知岐</span>
                    </span>
                </span>
            </li>
            <li class="award_item">
                <span class="award_year">2018-11</span>
                <span class="award_title">
                    教育・学習支援システム若手の会 学生功労賞
                    <span class="award_members">
                        <span class="award_myname">油谷知岐</span>
                    </span>
                </span>
            </li>
        </ul>
    </div>

    <BackToTop />
</div>

<style>
 .award_history {
     position: relative;
     left: -1em;
 }
 .award_history > li {
     list-style-type: none; /*点を非表示*/
     position: relative; /*基準位置*/
     padding-left: 1em;
 }
 .award_history > li:before {
     border-radius: 50%; /*丸くする*/
     width: 5px; /*点の幅*/
     height: 5px; /*点の高さ*/
     display: block;
     position: absolute; /*絶対配置*/
     left: 0; /*点の位置*/
     top: 0.6em; /*点の位置*/
     content: "";
     background: #1ec4e6; /*点の色*/
 }

 .award_item {
     line-height: 1.5em;
     display: flex;
 }
 .award_item > .award_year {
     flex: 0 0 5em;
 }

 .award_item > .award_title {
     flex: 1 1 auto;
 }

 .award_item > .award_title > .award_members {
     content: "受賞者：";
     align: left;
     font-size: 0.7em;
 }

 .award_item > .award_title > .award_members:before {
     content: " （受賞者： ";
 }

 .award_item > .award_title > .award_members:after {
     content: "）";
 }
 
 .award_item > .award_title > .award_members > .award_myname {
     text-decoration: underline;
     font-weight: 600;
 }
 
</style>
