---
import { SITE_TITLE, SITE_DESCRIPTION, SUBDIR_ADAPTIVE_URL } from '../../../consts';

---

<div id="basic_info">
    <h1 class="myname">
        <span class="kanji_name">油谷 知岐</span>
        <!-- <span class="hiragana_name">（あぶらたに ともき）</span> -->
    </h1> 
    <div id="name_and_picture_area">
        <img class="own_picture" src={SUBDIR_ADAPTIVE_URL("images/aburatanitomoki-pict.png")} />
        <ul class="basic_info">
            <li class="basic_info_tag"><a href={SUBDIR_ADAPTIVE_URL('#profiles')}>プロフィール</a></li>
            <li class="basic_info_tag"><a href={SUBDIR_ADAPTIVE_URL('#works')}>業績</a></li>
            <li class="basic_info_tag"><a href={SUBDIR_ADAPTIVE_URL('#awards')}>受賞歴</a></li>
            <li class="basic_info_tag"><a href={SUBDIR_ADAPTIVE_URL('#educations')}>教育歴</a></li>
            <li class="basic_info_tag"><a href={SUBDIR_ADAPTIVE_URL('#communities')}>コミュニティ</a></li>
            <li class="basic_info_tag"><a href={SUBDIR_ADAPTIVE_URL('#external_sites')}>外部サイト</a></li>
            <li class="basic_info_tag"><a href={SUBDIR_ADAPTIVE_URL('#contacts')}>連絡先</a></li>
        </ul>
    </div>
</div>

<style>
 #basic_info {
     margin-bottom: 4em;
 }
 
 #name_and_picture_area {
     display: flex;
     margin-bottom: 2em;
 }
 .own_picture {
     width: 200px;
     height: 100%;
 }
 .myname {
     font-family: 'Atkinson', sans-serif;
     color: #191970;
 }
 .kanji_name {
     font-size: 1em;
 }
 .hiragana_name {
     font-size: 0.6em;
 }
 .basic_info {
     margin-top: 0em;
     font-size: 1em;
     line-height: 1.5em;
     padding-left: 1.5em;
 }

 .basic_info_tag > a {
     text-decoration-line: none;
     color: #4C5EBB;
     
 }

</style>
