---
import { SITE_TITLE, SITE_DESCRIPTION, SUBDIR_ADAPTIVE_URL } from '../../consts';

---

<div id="communities" class="cv_item">
    <h4 class="title_decoration">コミュニティ</h4>
    <div id="community_content">
        <div id="research_society_member">
            <!-- 所属学会 -->
        </div>
        <div id="research_society_commity">
            <!-- 委員歴 -->
        </div>
        <div id="other_society">
            <!-- その他のコミュニティ -->
        </div>
        準備中
    </div>

</div>

<style>

</style>
