---
import { SITE_TITLE, SITE_DESCRIPTION, SUBDIR_ADAPTIVE_URL } from '../../consts';

import BackToTop from './BackToTop.astro';
---

<div id="contacts" class="cv_item">
    <h4 class="title_decoration cv_title">連絡先</h4>
    <ul class="contact_items">
        <li class="contact_item_line">
            <span class="line_before">Email（研究）：</span><span class="line_after">aburatani [at] ksm.kis.osakafu-u.ac.jp</span>
        </li>
        <li class="contact_item_line">
            <span class="line_before">Email（個人）：</span><span class="line_after">aburatanitomoki [at] gmail.com</span>
        </li>
    </ul>

    <BackToTop />
</div>

<style>
 #contacts {

 }

 .cv_title {

 }

 .contact_items {
     position: relative;
     left: -1em;
     margin-bottom: -0.3em;
 }

 .contact_item_line {
     display: flex;
 }

 .contact_item_line > .line_before {
     flex: 0 0 6.5em;
 }


</style>
