 ---
import { SITE_TITLE, SITE_DESCRIPTION, SUBDIR_ADAPTIVE_URL } from '../../consts';

---

<div id="educationss" class="cv_item">
    <h4 class="title_decoration">教育歴</h4>
    <div id="education_content">
        準備中  
    </div>

</div>

<style>

</style>
