 ---
import { SITE_TITLE, SITE_DESCRIPTION, SUBDIR_ADAPTIVE_URL } from '../../consts';
import BackToTop from './BackToTop.astro';
---

<div id="educations" class="cv_item">
    <h4 class="title_decoration">教育歴</h4>
    <div id="education_content">
        準備中  
    </div>

    <BackToTop />
</div>

<style>

</style>
