---
import { SITE_TITLE, SITE_DESCRIPTION, SUBDIR_ADAPTIVE_URL } from '../../consts';

---

<div id="profiles" class="cv_item">
    <h4 class="title_decoration profiles">プロフィール</h4>
    <div id="profile_content">
        <div id="job_history">
            <!-- 職歴 -->
        </div>
        <div id="education_history">
            <!-- 学歴 -->
        </div>
        準備中

    </div>

</div>

<style>
 .profiles {

 }
 

</style>
