
---
import { SITE_TITLE, SITE_DESCRIPTION, SUBDIR_ADAPTIVE_URL } from '../../consts';
import BackToTop from './BackToTop.astro';
---

<div id="works" class="cv_item">
    <h4 class="title_decoration">業績</h4>
    <div id="work_content">
        <div id="original_paper" class="work_container">
            <!-- 査読あり原著論文 -->
            <div class="work_type">学術論文（査読あり）</div>
            <ol class="work_table">
                <!-- 上から順に新しいものを入れる -->
                <li class='work_item'>
                    <span class="author_myname">油谷知岐</span>, 瀬田和久, 林佑樹：学習経験の抽象化と汎化によるメタ学習プログラム, 教育システム情報学会誌, vol.42, no.2, to-appear, (2025).
                </li>
                <li class='work_item'>
                    小西民恵, 高橋亨輔, 六車俊紀, 谷﨑勇太,  <span class="author_myname">油谷知岐</span>, 浅木森浩樹, 米谷雄介, 武田啓之, 井面仁志, 八重樫理人：派生開発による建物修繕依頼システムの内製開発, 学術情報処理研究, vol.28, no.1, pp.200-206, (2024).
                </li>
                <li class='work_item'>
                    松永智広, 米谷雄介, <span class="author_myname">油谷知岐</span>, 浅木森浩樹, 末廣紀史, 武田啓之, 山田哲, 八重樫理人：就活状況記録システムおよび就活状況分析・可視化システムの内製開発とその効果, 学術情報処理研究, vol.28, no.1, pp.165-173, (2024).
                </li>
                <li class='work_item'>
                    <span class="author_myname">油谷知岐</span>, 瀬田和久, 林佑樹, 池田満：学習目標の内省を促すセマンティクスアウェアな知的学習支援システム, 電子情報通信学会論文誌D, vol.J104-D, no.8, pp.639-649, (2021).
                </li>
            </ol>
        </div>
        <div id="letter__paper" class="work_container">
            <!-- レター論文 -->
            <div class="work_type">レター論文（査読あり）</div>
            <ol class="work_table">
                <!-- 上から順に新しいものを入れる -->
                <li class='work_item'>
                    米谷雄介, 大村ふみ, 武田啓之, 川瀬舞, 小寺賢志, 末廣紀史, <span class="author_myname">油谷知岐</span>, 八重樫理人：クラウド型プラットフォームを活用した支払予定表作成業務の効率化に関する取り組み, 学術情報処理研究, vol.28, no.1, pp.224-229, (2024).
                </li>
                <li class='work_item'>
                    <span class="author_myname">油谷知岐</span>, 瀬田和久, 林祐樹, 池田満：プレゼン設計課題を通じた行間読み取り活動診断システムの開発, 電子情報通信学会論文誌D, vol.J102-D, no.4, pp.359-363, (2019).
                </li>
            </ol>
        </div>
        

        <div id="international_conference_paper" class="work_container">
            <!-- 国際会議論文 -->
            <div class="work_type">国際会議（査読あり）</div>
            <ol class="work_table">
                <!-- 上から順に新しいものを入れる -->
                <li class='work_item'>
                    Koike, K., <span class="author_myname">Aburatani, T.</span>, Ashida A., Morita K., and Kunori K.: Towards a Schema-Centered Approach in Intelligent Tutoring Systems: Defining and Formalizing Computational Cognitive Schemas as Domain Models, Proc. of HCI International 2025, to-appear, (2025).
                </li>
                <li class='work_item'>
                    <span class="author_myname">Aburatani, T.</span>, Seta, K., and Hayashi, Y.: Meta-learning Program Based on Abstraction of Learning Experiences, Proc. of EdMedia + Innovate Learning 2024, pp.537-546, (2024).
                    <span class="awarded_work_tag">【Outstanding Paper Award】</span>
                </li>
                <li class='work_item'>
                    <span class="author_myname">Aburatani, T.</span>, Seta, K., Hayashi, Y. and Ikeda, M.: ITS Promoting Realization of Misguided Self-confidence in One’s Own Comprehension, Proc. of 28th International Conference on Computers in Education (ICCE), pp.93–95, (2020).
                </li>
                <li class='work_item'>
                    <span class="author_myname">Aburatani, T.</span>, Seta, K., Hayashi, Y. and Ikeda, M.: A semantically enhanced learning environment for Cultivating Meta-thinking Skills, DSC Proc. of 26th International Conference on Computers in Education (ICCE), pp.1–4, (2018).
                </li>
                <li class='work_item'>
                    <span class="author_myname">Aburatani, T.</span>, Seta, K., Hayashi, Y. and Ikeda, M.: Diagnosing Learning Attitudes of Thinking Between the Lines, Proc. of 6th Asian Conference on Information Systems, pp.239-244, (2017).
                </li>
            </ol>
        </div>
        <div id="national_conference_paper" class="work_container">
            <!-- 査読なし論文 -->
            <div class="work_type">研究会・全国大会</div>
            <ol class="work_table">
                <!-- 上から順に新しいものを入れる -->
                <li class='work_item'>
                    冨田邦宏, 浅木森浩樹, 神馬豊彦, 山田哲, <span class="author_myname">油谷知岐</span>, 米谷雄介, 八重樫理人：組織的なDX効果を測定・可視化する「DXダッシュボード」の開発, 信学技報（電子情報通信学会 知能ソフトウェア工学研究会）, to-appear, (2025).
                </li>
                <li class='work_item'>
                    山田哲, 浅木森浩樹, <span class="author_myname">油谷知岐</span>, 米谷雄介, 八重樫理人：香川大学型業務システム内製プロセスとプロセスに基づく業務システム開発, 信学技報（電子情報通信学会 知能ソフトウェア工学研究会）, to-appear, (2025).
                </li>
                <li class='work_item'>
                    浅木森浩樹, <span class="author_myname">油谷知岐</span>, 武久尚矢, 簑原海斗, 米村拓海, 米谷雄介, 島田昌紘, 八重樫理人：香川大学における教務システムと内製業務システムのシステム連携, 信学技報（電子情報通信学会 知能ソフトウェア工学研究会）, to-appear, (2025).
                </li>
                <li class='work_item'>
                    米村拓海, 神馬豊彦, 浅木森浩樹, 山田哲, <span class="author_myname">油谷知岐</span>, 米谷雄介, 八重樫理人：出張処理業務モニタリングシステムの開発, 信学技報 KBSE2024-45（電子情報通信学会 知能ソフトウェア工学研究会）, vol.124, no.358, pp.37-42, (2025).
                </li>
                <li class='work_item'>
                    前田悠作, 浅木森浩樹, 神馬豊彦, 山田哲, <span class="author_myname">油谷知岐</span>, 米谷雄介, 八重樫理人：香川大学における大学業務システムテンプレートを用いた内製開発, 信学技報 KBSE2024-41（電子情報通信学会 知能ソフトウェア工学研究会）, vol.124, no.358, pp.13-18, (2025).
                </li>
                <li class='work_item'>
                    古池謙人, <span class="author_myname">油谷知岐</span>, 芦田淳, 森田海, 久乗皓大：合目的的な学習課題デザインに目掛けたドメインモデル設計プロセスの初期検討, 人工知能学会 第102回 先進的学習科学と工学研究会, SIG-ALST-102-07, pp.38-43, (2024).
                </li>
                <li class='work_item'>
                    <span class="author_myname">油谷知岐</span>, 浅木森浩樹, 武久尚矢, 米谷雄介, 島田昌紘, 八重樫理人：香川大学における教務システムと内製業務システムのシステム連携の取り組み, 大学ICT推進協議会（AXIES） 2024年次大会論文集, pp.434-438, (2024).
                </li>
                <li class='work_item'>
                    簑原海斗, 前田悠作, 小林誠, 高田良介, <span class="author_myname">油谷知岐</span>, 浅木森浩樹：香川大学における教務システムのお知らせ自動要約システムの内製開発, 大学ICT推進協議会（AXIES） 2024年次大会論文集, pp.385-387, (2024).
                </li>
                <li class='work_item'>
                    米村拓海, 山本遥希, 工藤梨乃, 矢部智暉, <span class="author_myname">油谷知岐</span>, 浅木森浩樹：香川大学における大学ダッシュボード（教育情報）の内製開発, 大学ICT推進協議会（AXIES） 2024年次大会論文集, pp.439-441, (2024).
                </li>
                <li class='work_item'>
                    松永貴輝, 松木則夫, 末廣紀史, <span class="author_myname">油谷知岐</span>, 米谷雄介, 八重樫理人：香川大学における教員業績評価システムの開発と評価入力状況可視化の取り組み, 大学ICT推進協議会（AXIES） 2024年次大会論文集, pp.682-684, (2024).
                </li>
                <li class='work_item'>
                    谷﨑勇太, 六車俊紀, 石川達也, 池浦慶郎, <span class="author_myname">油谷知岐</span>, 浅木森浩樹, 佐藤亙人, 神馬豊彦：香川大学における共同研究申請システムの内製開発, 大学ICT推進協議会（AXIES） 2024年次大会論文集, pp.484-486, (2024).
                </li>
                <li class='work_item'>
                    冨田邦宏, 合田壮汰, 青柳浩志, 佐藤亙人, 浅木森浩樹, <span class="author_myname">油谷知岐</span>, 神馬豊彦：香川大学における出張申請システムの内製開発, 大学ICT推進協議会（AXIES） 2024年次大会論文集, pp.685-687, (2024).
                </li>
                <li class='work_item'>
                    松永智広, 米谷雄介, 池田紗和子, 末廣紀史, 浅木森浩樹, <span class="author_myname">油谷知岐</span>, 山田哲：就活状況データを活用した新規学校卒業者職業紹介状況報告作成システムの開発, 大学ICT推進協議会（AXIES） 2024年次大会論文集, pp.515-518, (2024).
                </li>
                <li class='work_item'>
                    神馬豊彦, 米村拓海, 浅木森浩樹, 山田哲, <span class="author_myname">油谷知岐</span>, 米谷雄介, 八重樫理人：大学における内製開発システムの組織的な運用・モニタリングに関する研究, 大学ICT推進協議会（AXIES） 2024年次大会論文集, pp.487-491, (2024).
                </li>
                <li class='work_item'>
                    六車俊紀, 谷﨑勇太, 木村悠佑, 末廣紀史, 金森雄太, 佐藤はる奈, 浅木森浩樹, <span class="author_myname">油谷知岐</span>：香川大学における年末調整問い合わせ対応チャットボットの内製開発, 大学ICT推進協議会（AXIES） 2024年次大会論文集, pp.442-445, (2024).
                </li>
                <li class='work_item'>
                    神馬豊彦, 米村拓海, 浅木森浩樹, 山田哲, <span class="author_myname">油谷知岐</span>, 米谷雄介, 八重樫理人：非情報部門職員による内製業務システムを対象とした運用監視ツールの開発, 信学技報 KBSE2024-25（電子情報通信学会 知能ソフトウェア工学研究会）, vol.124, no.244, pp.33-38, (2024).
                </li>

                <li class='work_item'>
                    武田啓之, 米谷雄介, 神馬豊彦, 小寺賢志, 川瀬舞, 末廣紀史, <span class="author_myname">油谷知岐</span>, 浅木森浩樹, 山田哲, 八重樫理人：香川大学デジタルONEアンバサダーにより内製開発された業務システムの業務パターンによる分類, 第28回学術情報処理研究集会, (2024).
                </li>
                <li class='work_item'>
                    <span class="author_myname">油谷知岐</span>, 瀬田和久, 林佑樹：学習経験の抽象化によるメタ学習プログラムの実践と評価, 人工知能学会 第100回 先進的学習科学と工学研究会, SIG-ALST-100-19, pp.101-108, (2024).
                    <span class="awarded_work_tag">【研究会優秀賞】</span>
                </li>
                <li class='work_item'>
                    <span class="author_myname">油谷知岐</span>, 瀬田和久, 林佑樹：メタ学習スキル育成プログラムのデザイン原則の検討, 教育システム情報学会 2022年度 特集論文研究会, JSiSE Research Report, vol.37, no.7, pp.77-84, (2023).
                </li>
                <li class='work_item'>
                    <span class="author_myname">油谷知岐</span>, 瀬田和久, 林佑樹,  池田満：セマンティクスアウェアな教材による学習目標設計スキルの育成支援, 第45回教育システム情報学会全国大会予稿集, pp.65-66, (2020).
                </li>
                <li class='work_item'>
                    宮崎貴大, <span class="author_myname">油谷知岐</span>, 林佑樹, 瀬田和久：推理小説を題材とした仮説推論スキル育成支援システムの検討, 第45回教育システム情報学会全国大会予稿集, pp.131-132, (2020).
                </li>
                <li class='work_item'>
                    <span class="author_myname">油谷知岐</span>, 瀬田和久, 林佑樹, 池田満：「わかったつもり」を捉える学習者モデルの構成法ーセマンティクスアウェアなプレゼン教材を活用してー, 第34回日本人工知能学会全国大会, pp.1-4, (2020).
                </li>
                <li class='work_item'>
                    <span class="author_myname">油谷知岐</span>, 瀬田和久, 林佑樹, 池田満：セマンティクスアウェアなプレゼン教材を活用したメタ学習スキーム, 第44回教育システム情報学会全国大会予稿集, pp.183-184, (2019).
                </li>
                <li class='work_item'>
                    <span class="author_myname">油谷知岐</span>, 瀬田和久, 林佑樹, 池田満：セマンティクスアウェアなプレゼン教材を活用したメタ学習の初期評価, 人工知能学会 第86回 先進的学習科学と工学研究会, SIG-ALST-B901-05, pp.24-31, (2019).
                    <span class="awarded_work_tag">【若手奨励賞】</span>
                </li>
                <li class='work_item'>
                    <span class="author_myname">油谷知岐</span>, 瀬田和久, 林佑樹, 池田満：行間読み取り姿勢の診断と助言生成, 人工知能学会 第80回 先進的学習科学と工学研究会, SIG-ALST-B507-02, pp.7-12, (2017). 
                </li>
                <li class='work_item'>
                    <span class="author_myname">油谷知岐</span>, 瀬田和久, 林佑樹, 池田満：プレゼン設計課題による行間読み取り姿勢の診断法, 第42回教育システム情報学会全国大会予稿集, pp.87-88, (2017).
                </li>
                <li class='work_item'>
                    <span class="author_myname">油谷知岐</span>, 林佑樹, 瀬田和久：自己調整スキルの涵養を目的としたプランニング支援システム, 2016春JSiSE学生研究発表会, pp.55-56, (2016).
                </li>
            </ol>
        </div>
        
        <div id="invited_lecture" class="work_container">
            <!-- 招待講演 -->
            <div class="work_type">招待講演</div>
            <ol class="work_table">
                <!-- 上から順に新しいものを入れる -->
                <li class='work_item'>
                    <span class="author_myname">油谷知岐</span>：香川大学のDX推進の取組〜大学DX推進の土台の整備〜, 令和6年度 全国大学教育研究センター等協議会, 広島, (2024年8月).
                </li>
            </ol>
        </div>

        <div id="graduate_thesis" class="work_container">
            <!-- 学位論文 -->
            <div class="work_type">学位論文</div>
            <ol class="work_table">
                <!-- 上から順に新しいものを入れる -->
                <li class='work_item'>
                    <span class="author_myname">油谷知岐</span>：セマンティクスアウェアなプレゼン教材に基づくメタ学習支援システムの開発, 大阪府立大学大学院 人間社会システム科学研究科 現代システム科学専攻 知識情報システム学分野 修士論文, (2019年3月).
                </li>
                <li class='work_item'>
                    <span class="author_myname">油谷知岐</span>：プレゼン意図添削課題による学習態度変容支援システム, 大阪府立大学 現代システム科学域 知識情報システム学類 学士論文, (2017年3月).
                </li>
            </ol>
        </div>

        <div id="report" class="work_container">
            <!-- 報告書 -->
            <div class="work_type">寄稿・報告書など</div>
            <ol class="work_table">
                <!-- 上から順に新しいものを入れる -->
                <li class='work_item'>
                    <span class="author_myname">油谷知岐</span>：コミュニティプラザ（国際会議報告）　EdMedia+Innovative Learning 2024, 教育システム情報学会誌, vol.41, no.4, pp.317-318, (2024).
                </li>
                <li class='work_item'>
                    太田光一, <span class="author_myname">油谷知岐</span>, 古池謙人, 堀越泉, 田和辻可昌, 山元翔：第31回 教育システム若手の会 報告, 人工知能学会 第91回 先進的学習科学と工学研究会, SIG-ALST-C003-05, pp.28-33, (2020).
                </li>
                <li class='work_item'>
                    <span class="author_myname">油谷知岐</span>, 古池謙人：学生企画「各世代の AI 研究者に問う ―『善く生きる』の捉え方―」, 人工知能学会誌, 特集・2020年度人工知能学会全国大会（第34回） 学生企画報告, vol.35, no.6, pp.803-804, (2020).
                </li>
                <li class='work_item'>
                    <span class="author_myname">油谷知岐</span>, 吉添衛：AI研究者は今，哲学者たり得ているか？, 人工知能学会誌, 特集・2019年度人工知能学会全国大会（第33回） 学生企画報告, vol.34, no.6, pp.850-851, (2019).          
                </li>
                <li class='work_item'>
                    仲谷佳恵, 倉山めぐみ, 立岩佑一郎, 山元翔, 山本頼弥, 山田拓史, 大岡義旺, 岩井健吾, 吉良元, 荻野了, <span class="author_myname">油谷知岐</span>：第27回教育システム若手の会報告-振り返ってみよう 教育システム研究の意味-, 人工知能学会 第79回 先進的学習科学と工学研究会, SIG-ALST-B506-04, pp.17-22, (2017).
                </li>
            </ol>
        </div>

        <div id="other_publish" class="work_container">
            <!-- 書籍 -->
            <div class="work_type">書籍</div>
            <ol class="work_table">
                <!-- 上から順に新しいものを入れる -->
                <li class='work_item'>
                    八重樫理人, 米谷祐介, <span class="author_myname">油谷知岐</span>, 山田哲, 神馬豊彦, 川瀬舞, 末廣紀史, 小寺賢志, 冨田邦宏, 前田悠作, 六車俊紀, 米村拓海, 簑原海斗, 合田壮太, 小林誠, 谷﨑勇太, 山本遥希：業務システム内製開発 応用編, 丸善雄松堂, (2025).
                </li>
            </ol>
        </div>

        <div id="other_publish" class="work_container">
            <!-- その他の刊行物 -->
            <div class="work_type">その他の刊行物</div>
            <ol class="work_table">
                <!-- 上から順に新しいものを入れる -->
            </ol>
        </div>

        <div id="stage" class="work_container">
            <!-- 出演 -->
            <div class="work_type">出演</div>
            <ol class="work_table">
                <!-- 上から順に新しいものを入れる -->
                <li class='work_item'>
                    【FM香川　「786 SUPER MEDIO」　- 香川大学NEXT STAGE】　香川大学的DX推進最前線　（2025年1月27日(月)）
                    <a href="https://www.kagawa-u.ac.jp/next-stagedx/?fbclid=IwY2xjawIDuehleHRuA2FlbQIxMQABHZjt9gXmEzKm5ZapSh47D6clF3W1rDYjLa4F5Gh8DDLPqq-rCKMHgRA2Mg_aem_aQ6I5w_bqgNLVvEj8HLbiQ">
                        【外部リンク：香川大学トピックスページ】
                    </a>
                </li>
            </ol>
        </div>

        <div id="patent" class="work_container">
            <!-- 特許 -->
            <div class="work_type">特許</div>
            <ul class="work_table">
                <!-- 上から順に新しいものを入れる -->
                <li class='work_item'>
                    特許6671672 対話装置, 発話生成方法, 及びプログラム 
                </li>
            </ul>
        </div>

        <div id="grants" class="work_container">
            <!-- 競争的資金など -->
            <div class="work_type">研究助成・競争的資金</div>
            <ul class="work_table">
                <!-- 上から順に新しいものを入れる -->
                <li class='work_item'>
                    2024年7月 - 2026年3月／日本学術振興会 科学研究費助成事業（基金）, 研究活動スタート支援, 「学習経験の抽象化と汎化によるメタ学習支援システム」, 課題番号：24K22761, 研究代表者
                </li>
                <li class='work_item'>
                    2024年7月 - 2025年3月／香川大学 研究推進事業（次世代研究創生）, 研究活動スタート支援, 「学習経験の抽象化と汎化によるメタ学習支援システム」, 課題番号：24K0D009, 研究代表者
                </li>
                <li class='work_item'>
                    2021年10月 - 2022年3月／国立研究開発法人科学技術振興機構（JST） 次世代研究者挑戦的研究プログラム リゾーム型研究人材育成プログラム, 「学習方略の経験学習支援フレームワークに関する研究」, 管理番号：RP2130314, 研究代表者
                </li>
            </ul>
        </div>
    </div>

    <BackToTop />
</div>

<style>
 #work_content {
     margin-left: 1em;
 }
 
 .work_container:first-child {
     margin-top: 1.5em;
 }

 .work_container {
     margin-top: 2em;
 }

 .work_type {
     font-weight: 700;
 }

 .work_table {
     margin-top: 0.3em;
 }

 .work_item {
     margin-top: 0.4em;
 }
 
 ul.work_table > .work_item {
     margin-left: -1em; !important;
 }

 ol.work_table > .work_item {
     list-style-type: decimal !important;

 }

 ol.work_table > li:before {
     width: 0px !important;
 }

 .awarded_work_tag {
     color: blue;
     font-weight: 700;
 }

 .author_myname {
     text-decoration: underline;
     font-weight: 600;
     
 }
</style>

