---
import { SITE_TITLE, SITE_DESCRIPTION, SUBDIR_ADAPTIVE_URL } from '../../consts';

---

<div id="works" class="cv_item">
    <h4 class="title_decoration">業績</h4>
    <div id="work_content">
        <div id="original_paper">
            <!-- 査読あり原著論文 -->
        </div>
        <div id="international_conference_paper">
            <!-- 国際会議論文 -->
        </div>
        <div id="national_conference_paper">
            <!-- 査読なし論文 -->
        </div>
        
        <div id="graduate_thesis">
            <!-- 学位論文 -->
        </div>
        
        <div id="other_publish">
            <!-- その他の刊行物 -->
        </div>

        <div id="grants">
            <!-- 競争的資金など -->
        </div>

        準備中
    </div>

</div>

<style>

</style>
